.gradle/
.idea/

.idea
*.iml
target
.classpath
.project
.settings
.DS_Store
setenv*

bak
.pmd

.idea.xml
*.class
*.bak
*.ipr
*.iws
null/
tree.log
tmp/
*.log
*.log.*
backup
.swp
*entaire.md
*balise.md
node_modules
spm_modules
temp.html
npm-debug.log
.tmp
.myeclipse/
velocity.log.1